*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.wrap{
    background: rgba(0, 0, 0, 0.5) url(./houses_with_wave.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
    background-blend-mode: overlay;

}
.wave{
    position: absolute;
    /* height: 100%; */
    width: 100%;
    bottom: -80px;
    /* color: #fff; */
    opacity: 1;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 80px;
    background: linear-gradient(to top, transparent, rgba(14, 13, 13, 0.8));
    display: inline;
    z-index: 22;
}

header .logo{
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    float: left;
    /* top: 20%; */
}
header .menu{
    float: right;
    /* top: 20%; */
    right: 0;
    /* margin-top: px; */
}
header ul{
    display: inline-flex;
}
header ul li{
    display: inline-block;
}
header ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    margin: 0 25px;
    font-weight: 300;
    letter-spacing: 1px;
}
/* responive nav */
.overlay{
    height: 60%;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.96);
    overflow-x: hidden;
    transition: 0.5s;
    /* padding: 15px; */
    /* padding: 15px; */

}
.overlay-content{
    position: relative;
    top: 20%; 
    width: 50%;
    /* right: -70%; */
    overflow: hidden;

    display: block;
    margin-top: 30px;

    /* display: flex; */
}
.overlay .fa{
    padding-top: 10px;
}

.overlay a{
    margin-left: 15px;
    padding: 10px ;
    display: block;
    /* margin-left: 50px; */
    /* padding: 5px; */
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    color: #a2d9ff;
    /* display: flex;
    text-align: center;
    display: inline-flex; */
    transition: 0.3s;
    letter-spacing: 2px;
    

}
.overlay a:hover, .overlay a:focus{
    color: #fff;
    
}
.overlay .closebtn{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
.dropdown{
    float: left;
    visibility: hidden;
}
.dropdown div{
    width: 35px;
    height: 5px;
    background-color: rgb(226, 217, 217);
    margin: 6px 0;
    
}
@media only screen and (max-width: 1200px){
    .our-partners-inner a{
        margin-top: 20px;
        padding: 15px;
        flex-basis: 100%;
        min-width: 400px;
    }

}
@media only screen and (max-width: 800px){
    .our-partners hr{
        visibility: hidden;
    }
    .overlay{
        font-size: 20px;
        text-transform: uppercase;
        padding-top: 60px;

    }
    

}


/* reponsive feature tablet screen for only nav */
@media only screen and (max-width: 900px){
    .dropdown{
        visibility: visible;
    }
    .overlay{
        height: 100%;
        width: 100%;
        position: fixed;
    }
    header .menu{
        visibility: hidden;
    }
    .overlay-content{
        position: relative;
        top: 5%; 
        width: 90%;
       
        /* display: flex; */
    }
    .content{
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
    }
    .content a{
        margin-top: 10px;
    }
    .wave{
        visibility: hidden;
    }
    .our-partners h3{
        font-size: 40px;
        margin: 15px;
        align-items: center;
    }
    .content .btn-group{
        margin-top: 15px;
        margin-bottom: 20px;
    } 

    /* our partners responsive section */
    .our-partners{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;

    }
    .our-partners-inner a{
        margin-top: 20px;
        padding: 15px;
        flex-basis: 80%;
        min-width: 400px;
    }
    .float-left{
        float: right;
    }
    .overlay{
        font-size: 25px;
        text-transform: uppercase;
        padding-top: 70px;

    }
  


}

/* responsive for nav header for phones  */
@media only screen and (max-width: 400px){
    .overlay{
        height: 100%;
        width: 100%;
        
    
    }
    .overlay-content{
        position: relative;
        top: 10%; 
        width: 90%;
       
        /* display: flex; */
    }
    

}




/* .content{
    max-width: 55%;
    padding: 200px 80px 0;
    color: #fff;
  
}

/* .content p{
    font-size: 20px;
    padding: 25px 0;
    font-weight: 300;
} */
.content p{
    font-size: 20px;
    padding: 25px 0;
    font-weight: 400;
    color: #fff;
}
.content h1{
    font-size: 48px;
    color: #fff;
}
.content{
    margin-top: 150px;
    margin-left: 50px;
}
.content .btn-group{
    margin-top: 45px;
} 
.content a{
    display: inline-block;
    padding: 15px 45px;
    text-decoration: none;
    color: #fff;
    border-radius: 50px;
}
.content a.color1{
    background-color: #ffc107;
}
.our-partners{
    padding: 0 80px;
    position: relative;
    background-color: #a2d9ff;
    padding-bottom: 40px;
}
.our-partners h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.our-partners hr{
    border: none;
    height: 4px;
    width: 100px;
    background-color: orange;
    margin-bottom: 10px;
}
.our-partners-inner a{
    display: inline-block;
    width: 14%;
    padding: 15px;
    margin-right: 25px;
    border: 1px solid #cacaca;
    border-radius: 20px;
    box-shadow: 0 5px 0 #cacaca ;
    background-color: #fff;


}
.our-partners-inner img{
    width: 100%;
    min-height:50px;
    
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 400px;
}
/* the why you should do bussiness with us section */
.why-us{
    padding-left: 80px;
    padding-right: 80px;
    background-color: rgb(211, 198, 181);
    padding: 10%;

}
.center{
    text-align: center;
    margin-bottom: 70px;
}
.center h1{
    letter-spacing: 3px;
    text-transform: uppercase;
    
}
.col-4{
    flex-basis: 25%;
    min-width: 240px;
    margin-top: 30px;

}
.col-center{
    text-align: center;
}
.col-4 h4{
    margin-top: 30px;
}
.center a{
    padding-top: 15px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 200;
    color: rgb(104, 87, 87);
}
.center a:hover{
    color: orange;

}
.top-padding{
    margin-top: 20px;
}
.car-sec-middle{
    height: 60vh;
    background-color: orange;
}
.car-sec-middle h4{
    font-size: 30px;
    font-weight: 700;
}


/* carsouel images */
.overlay{
    position: absolute;
    /* bottom: 0; */
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    padding-top: 60px;
    font-weight: 700;
    text-align: center;
}
.item:hover .overlay{
    opacity: 1;
}


/* whats new with us today */

