*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.wrap{
    background: rgba(0, 0, 0, 0.5) url(./houses_with_wave.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
    background-blend-mode: overlay;

}
.wave{
    position: absolute;
    /* height: 100%; */
    width: 100%;
    bottom: -80px;
    /* color: #fff; */
    opacity: 1;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 80px;
    background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.6));
    display: inline;
}
header .logo{
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    float: left;
}
header .menu{
    float: right;
    margin-top: 5px;
}
header ul{
    display: inline-flex;
}
header ul li{
    display: inline-block;
}
header ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    margin: 0 25px;
    font-weight: 300;
    letter-spacing: 1px;
}
/* responive nav */
.overlay{
    height: 60%;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.96);
    overflow-x: hidden;
    transition: 0.5s;
    /* padding: 15px; */
    /* padding: 15px; */

}
.overlay-content{
    position: relative;
    top: 20%; 
    width: 50%;
    /* right: -70%; */
    overflow: hidden;

    display: block;
    margin-top: 30px;

    /* display: flex; */
}
.overlay .fa{
    padding-top: 10px;
}

.overlay a{
    margin-left: 15px;
    padding: 10px ;
    display: block;
    /* margin-left: 50px; */
    /* padding: 5px; */
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    color: #a2d9ff;
    /* display: flex;
    text-align: center;
    display: inline-flex; */
    transition: 0.3s;
    letter-spacing: 2px;
    

}
.overlay a:hover, .overlay a:focus{
    color: #fff;
    
}
.overlay .closebtn{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
.dropdown{
    float: left;
    visibility: hidden;
}
.dropdown div{
    width: 35px;
    height: 5px;
    background-color: rgb(226, 217, 217);
    margin: 6px 0;
    
}


/* reponsive feature tablet screen for only nav */
@media only screen and (max-width: 900px){
    .dropdown{
        visibility: visible;
    }
    .overlay{
        height: 100%;
        width: 100%;
        position: fixed;
    }
    header .menu{
        visibility: hidden;
    }
    .overlay-content{
        position: relative;
        top: 5%; 
        width: 90%;
       
        /* display: flex; */
    }


}
/* responsive for nav header for phones  */
@media only screen and (max-width: 400px){
    .overlay{
        height: 100%;
        width: 100%;
        
    
    }
    .overlay-content{
        position: relative;
        top: 10%; 
        width: 90%;
       
        /* display: flex; */
    }

}



.content{
    max-width: 55%;
    padding: 200px 80px 0;
    color: #fff;
}
.content h1{
    font-size: 48px;
}
.content p{
    font-size: 20px;
    padding: 25px 0;
    font-weight: 300;
}
.content .btn-group{
    margin-top: 45px;
}
.content a{
    display: inline-block;
    padding: 15px 45px;
    text-decoration: none;
    color: #fff;
    border-radius: 50px;
}
.content a.color1{
    background-color: #ffc107;
}
.our-partners{
    padding: 0 80px;
    position: relative;
    background-color: #a2d9ff;
}
.our-partners h3{
    font-size: 28px;
    margin-bottom: 15px;
}
.our-partners hr{
    border: none;
    height: 4px;
    width: 100px;
    background-color: orange;
    margin-bottom: 10px;
}
.our-partners-inner a{
    display: inline-block;
    width: 14%;
    padding: 15px;
    margin-right: 25px;
    border: 1px solid #cacaca;
    border-radius: 20px;
    box-shadow: 0 5px 0 #cacaca ;
    background-color: #fff;


}
.our-partners-inner img{
    width: 100%;
    min-height:50px;
    
}

